<!DOCTYPE html>
<HTML>
<HEAD>
    <!--{% autoescape None %}-->
	<TITLE> APP Action Operation </TITLE>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="/static/Action_JS_CSS/demo.css" type="text/css">
	<link rel="stylesheet" href="/static/Action_JS_CSS/zTreeStyle.css" type="text/css">

	<script src="/static/Action_JS_CSS/jquery-1.4.4.min.js"></script>
	<script src="/static/Action_JS_CSS/jquery.ztree.core.js"></script>
	<script src="/static/Action_JS_CSS/jquery.ztree.excheck.js"></script>
    <style>
        div.content_wrap {
            width: 1000px;
        }
        ul.ztree {
            width: 400px;
            height: 800px;
        }
    </style>

</HEAD>

<BODY>

<h1>APP 勾选操作</h1>
<div id="submit">提交数据</div>
<div class="content_wrap">

    <form action="/action" id="formId"  method="post">
        <div class="zTreeDemoBackground left">
            <ul id="treeDemo" class="ztree"></ul>
        </div>
        <input type="hidden" name="id"/>
	    <input type="hidden" name="name"/>
    </form>

</div>

<script>
		var setting = {
			check: {
				enable: true
			},
			data: {
				simpleData: {
					enable: true
				}
			},
            callback:{
			    onCheck:onCheck
            }
		};
		var b = new Array();
		b.push({ id:1, pId:0, name:"Action", open:true});
		b.push({ id:2, pId:1, name:"APP", open:true});
		var m=21;
   		{% for i in app_L_1 %};
		    b.push({ id:m, pId:2, name:"{{i}}", open:true  });

		    n=1;
            {% for j in dict_All_1[app_L_1.index(i)][i] %}
                b.push({ id:m*10+n, pId:m, name:"{{j}}" });
                n+=1;
            {% end %}
            m+=1;
        {% end %}

		var zNodes =b;


		$(document).ready(function(){
			$.fn.zTree.init($("#treeDemo"), setting, zNodes);
		});
		function onCheck(e,treeId,treeNode){
            var treeObj=$.fn.zTree.getZTreeObj("treeDemo"),
            nodes=treeObj.getCheckedNodes(true),
            v="";
            for(var i=0;i<nodes.length;i++){
            v+=nodes[i].name + ",";
            console.log("节点id:"+nodes[i].id+"节点名称"+v); //获取选中节点的值
            }


            }

	</script>
</BODY>
</HTML>