<!DOCTYPE html>
<HTML>
<HEAD>
	<TITLE> APP Action Operation </TITLE>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="/static/zTree_v3-master/css/demo.css" type="text/css">
	<link rel="stylesheet" href="/static/zTree_v3-master/css/zTreeStyle/zTreeStyle.css" type="text/css">

	<script src="/static/zTree_v3-master/js/jquery-1.4.4.min.js"></script>
	<script src="/static/zTree_v3-master/js/jquery.ztree.core.js"></script>
	<script src="/static/zTree_v3-master/js/jquery.ztree.excheck.js"></script>
    <style>
        div.content_wrap {
            width: 1000px;
        }
        ul.ztree {
            width: 400px;
            height: 2000px;
        }
    </style>
	<script>
		var setting = {
			check: {
				enable: true
			},
			data: {
				simpleData: {
					enable: true
				}
			}
		};

		var b=5555;
		var a="fff"+b.toString();


		{{ app_L_1 }}
		var zNodes =[
			{ id:1, pId:0, name:"Action", open:true},
			{ id:11, pId:1, name:"APP", open:true},

			{ id:111, pId:11, name:"微信",open:true},
			{ id:112, pId:11, name:"QQ",open:true},
            // { id:1121, pId:112, name:"QQ_视频_发送"},
			// { id:1122, pId:112, name:"QQ_视频_接收"},
			// { id:1123, pId:112, name:"QQ_视频_缩略图_接收"},
			// { id:1124, pId:112, name:"QQ_分享链接_接收"},
			// { id:1125, pId:112, name:"QQ_扫一扫链接_点击"},
			// { id:1126, pId:112, name:"QQ_广告_浏览"},
			{ id:113, pId:11, name:"微博",open:true},
            // { id:1131, pId:113, name:"微博_登录"},
			// { id:1132, pId:113, name:"微博_文章_点击"},
			// { id:1133, pId:113, name:"微博_普通_图片_点击"},
			// { id:1134, pId:113, name:"微博_高清_图片_点击"},
			// { id:1135, pId:113, name:"微博_普通_视频_点击"},
			// { id:1136, pId:113, name:"微博_秒拍_视频_点击"},
			{ id:114, pId:11, name:"陌陌"},

			{ id:115, pId:11, name:"百度贴吧"},
            // { id:1151, pId:115, name:"百度贴吧_登录"},
			// { id:1152, pId:115, name:"百度贴吧_文章_点击"},
			// { id:1153, pId:115, name:"百度贴吧_普通_图片_点击"},
			// { id:1154, pId:115, name:"百度贴吧_高清_图片_点击"},
			// { id:1155, pId:115, name:"百度贴吧_普通_视频_点击"},
			// { id:1156, pId:115, name:"百度贴吧_秒拍_视频_点击"},

		];



		var code;
		
		function setCheck() {
			var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
			py = $("#py").attr("checked")? "p":"",
			sy = $("#sy").attr("checked")? "s":"",
			pn = $("#pn").attr("checked")? "p":"",
			sn = $("#sn").attr("checked")? "s":"",
			type = { "Y":py + sy, "N":pn + sn};
			zTree.setting.check.chkboxType = type;
			showCode('setting.check.chkboxType = { "Y" : "' + type.Y + '", "N" : "' + type.N + '" };');
		}
		function showCode(str) {
			if (!code) code = $("#code");
			code.empty();
			code.append("<li>"+str+"</li>");
		}
		
		$(document).ready(function(){
			$.fn.zTree.init($("#treeDemo"), setting, zNodes);
			setCheck();
			// $("#py").bind("change", setCheck);
			// $("#sy").bind("change", setCheck);
			// $("#pn").bind("change", setCheck);
			// $("#sn").bind("change", setCheck);
		});
	</script>
</HEAD>

<BODY>
	{{ dict_All }}

<h1>APP 勾选操作</h1>
<div class="content_wrap">
	<div class="zTreeDemoBackground left">
		<ul id="treeDemo" class="ztree"></ul>
	</div>
	<div class="right">
		<ul class="info">
			<li class="title"><h2>1、setting 配置信息说明</h2>
				<ul class="list">
					<li><p>父子关联关系：<br/>
						被勾选时：<input type="checkbox" id="py" class="checkbox first" checked /><span>关联父</span>
						<input type="checkbox" id="sy" class="checkbox first" checked /><span>关联子</span><br/>
						取消勾选时：<input type="checkbox" id="pn" class="checkbox first" checked /><span>关联父</span>
						<input type="checkbox" id="sn" class="checkbox first" checked /><span>关联子</span><br/>
						<ul id="code" class="log" style="height:20px;"></ul></p>
				    </li>
				</ul>
			</li>
		</ul>
	</div>
</div>
</BODY>
</HTML>