<!DOCTYPE html>
<HTML>
<HEAD>
	<TITLE> APP Domain Operation </TITLE>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="/static/Action_JS_CSS/demo.css" type="text/css">
	<link rel="stylesheet" href="/static/Action_JS_CSS/zTreeStyle.css" type="text/css">

	<script src="/static/Action_JS_CSS/jquery-1.4.4.min.js"></script>
	<script src="/static/Action_JS_CSS/jquery.ztree.core.js"></script>
	<script src="/static/Action_JS_CSS/jquery.ztree.excheck.js"></script>
    <style>
        div.content_wrap {
            margin:20px auto
        }
        div.content_wrap {
            width: 1000px;
            height: auto;
        }
        ul.ztree {
            width: 450px;
            height: 800px;
        }
        .ztree * {
            /*font-size: 14px;*/
        }
        div.content_wrap div.right {
            width: 500px;
        }
    </style>

</HEAD>

<BODY>

<div class="content_wrap">
	<h1>APP Domain&Service勾选操作</h1>
    <div>
        <button id="submit_2">提交数据</button>
        <a href="/web/action"><button id="change">跳转Action</button></a>
    </div>

	<div class="zTreeDemoBackground left">
		<ul id="treeDemo" class="ztree"></ul>
	</div>
</div>

<script>
		var setting = {
			check: {
				enable: true
			},
			data: {
				simpleData: {
					enable: true
				}
			}
		};

        {% if app_L_2|length != 0 %}

            var b = new Array();
            b.push({ id:1, pId:0, name:"Domain", open:true});
            var m=1001;

            {% for i in app_L_2 %};
                b.push({ id:m, pId:1, name:"{{i}}", open:true });
                n=1;


                {% for j in dict_All_2 %}
                    {% for key,value in j.items  %}
                        {% if key == i %}
                            {% for k in value%}
                                b.push({ id:m*1000+n, pId:m, name:"{{k}}" })
                                // b.push({ id:0, pId:m, name:"{{k}}" })
                                n+=1
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                m+=1;
            {% endfor %}

            b.push({ id:2, pId:0, name:"Service", open:true});
            var x=2001;
            {% for i in app_L_3 %};
                b.push({ id:x, pId:2, name:"{{i}}", open:true  });
                y=1;
                {% for j in dict_All_3 %}
                    {% for key,value in j.items  %}
                        {% if key == i %}
                            {% for k in value%}
                                b.push({ id:x*1000+y, pId:x, name:"{{k}}" })
                                y+=1;
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                x+=1;
            {% endfor %}
        {% endif %}

		var zNodes =b;

		$(document).ready(function(){
			$.fn.zTree.init($("#treeDemo"), setting, zNodes);
		});

        result = new Array();
		var submit_2 = document.getElementById("submit_2");

		function filter(node) {
                return (node.id >= 1001000 && node.checked
                );
            }



        submit_2.onclick=function (){

            var treeObj=$.fn.zTree.getZTreeObj("treeDemo");
            var nodes=treeObj.getNodesByFilter(filter);
            console.log(treeObj);
            console.log(nodes);
            for(var i=0;i<nodes.length;i++){
                v="";
				v+=nodes[i].name + ",";
				console.log("节点id:"+nodes[i].id+"  节点名称："+v);
				result.push(nodes[i].name)
            }

            $.ajax({
                type: "POST",
                url : "/web/domain",
                data:  JSON.stringify(result),
                success: function(msg){
                       if (msg) {//根据返回值进行跳转
                        window.location.href = '/web/finish';
                        }
            	},
				error:function(err){
                             alert("网络连接,稍后重试",err)
                     }
			});
		};
	</script>
</BODY>
</HTML>